
.btn-whatsapp{
    position: fixed;
    right: 20px;
    width: 90px;
    z-index: 999;
    bottom: 20px;
    
}
.Exprestitulo{
   text-align: center;
}
.Informacion{
    display: flex;
    padding: 10px 90px;
    transform: translate(800px , -31px);
    border-radius: 15px;
    border: 2px solid black;
}
.Informacion a{
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
}
.Solicitar{
    display: flex;
    padding: 10px 90px;
    transform: translate(500px, 20px);
    background: #2BFFA5;
    border: 2px solid #2BFFA5;
    border-radius: 15px;
}
.Solicitar a{
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
}
.stats-horizontal{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    overflow: auto;
    justify-content: center;
    transform: translate(0,-150px);
    
}
.stat-box{
    scroll-snap-align: start;
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  min-width: 250px;
  flex: 0 0 auto;
  text-align: center;

}
.cuadro{
    display: flex;

    justify-content: center;
}
.titulodos{
  text-align: center;
}
.cuadrograndeinicial{
    width: 300px;
    height: 580px;
    border: 2px solid black;
    border-radius: 15px; 
    transform: translate(-245px, 80px);
}
.titulopp li{
 list-style: none;
}
.redes{
    position: relative;
    text-align: center;
}
.titulopp{
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
}

.parrafo-x {
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    
}
.cuneta{
    
}
.parrafo-x li{
    list-style: none;
}
footer{
    background: #4D4D4D;
    width: 100%;
}

.tituloejecutivo{
    text-align: center;
}
.cuadro-inicial{
    width: 200px;
    height: 60px;
    border: 1px solid black;
    
    background: #00F2FE;
    border-radius: 15px;
    padding: 1px;
}
.cuadro-economico{
    width: 200px;
    height: 60px;
    border: 1px solid black;
    background: #00F2FE;
    border-radius: 15px;
}
.cuadro-Ejecutivo{
    width: 200px;
    height: 60px;
    border: 1px solid black;
    background: #00F2FE;
    border-radius: 15px;
}
.Titulo{
    text-align: center;
}

.counter{
    color: #013D93;
    padding: 2rem;
}

.col{
    color: black;
}

.hero-section {
  
  color: black;
  height: 100px;
  display: flex;
  border-radius: 500px;
  
}
.logo{
    display: flex;
    align-items: center;
    color: aliceblue;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #013D93;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 50px;
    border-radius: 25px;
    width: auto;
    transition: all 0.03s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links li:hover{
    transform: scale(1.1);
}
.header .nav-links a{
    text-decoration: none;
    color: aliceblue;
    font-size: 700;
}
.header .nav-links li a:hover{
    color: aquamarine;
}
.header .btn-xd button{
    color: black;
    border: none;
    background: aliceblue;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}
.header .btn-xd button:hover{
    background-color: aliceblue;
    color: orange;
    transform: scale(1.1);
}